.clients{
    flex:4;
    margin: 10px;
    width: 1000px;
    box-shadow: 2px 2px 2px 2px #d2d2d2;
    background: #fff;
}

.del{
    font-size: 50px;
    color: red;
}

.products-btn-delete{
    background: #fff;
}

.products-btn-edit{
    background: #fff;
}

.products-img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    
}