.customerStatComponent{
    background: #fff;
    width: 1090px;
    margin:10px;
    box-shadow: 2px 2px 2px 2px #ececec;
    cursor: pointer;
    border-radius: 10px;
    h2{
        margin: 10px;
        font-family: Roboto;
        font-size: 18px;
    }
}