.customerListComponent{
  margin:10px;
  flex:1.5;
  background: #fff;
  box-shadow: 2px 2px 2px 2px #ececec;
  border-radius: 10px;
  h2{
    font-family: Roboto;
    font-size: 20px;
    margin: 10px;
  }
}