.card-relative{
    width: 100px;
    height: 100px;
    margin: 5px;
    img{
        width: 100px;
        height: 100px;
    }
   .btn-del-img-relat{
    width: 100px;
    border: none;
    background-color: rgb(250, 70, 70);
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
   }
}