.messagerie{
    flex: 4;
    background: #f0f2f5;
    margin: 10px;
    .pops{
        background: #f0f2f5;
        border: 1px solid #d9e3e9;
        border-radius: 10px;
        width: 260px;
        //height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 500;
        }
    
        .btn-confirm{
            display: flex;
            align-items: center;
        }
    
        .oui{
            border: none;
            color: #1b1b1b;
            width: 30px;
            height: 30px;
            margin: 2.5px;
            font-size: 14px;
            font-family:'Roboto';
        }
        .non{
            margin: 2.5;
            border: none;
            color: #1f1e1e;
            width: 30px;
            height: 30px;
            font-size: 14px;
            font-family:'Roboto';
        }
    }
   
}

.new-message{
    display: flex;
    margin: 20px;
    height: 100px;
    background: #f0f2f5;
}

.btn-new-message{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-family: Roboto;
    background: #c2e7ff;
    border-radius: 20px;
    &:hover{
        box-shadow: 2px 2px 2px 2px #d9e3e9; 
     }
}

.btn-archive-courier{
    margin-left: 10px;
    width: 200px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-family: Roboto;
    background: #c2e7ff;
    border-radius: 20px;
    &:hover{
        box-shadow: 2px 2px 2px 2px #d9e3e9; 
     }
    
}

.textread{
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    margin: 30%;
    color: #cecece;
}

