.recomandations{
    flex: 4;
    margin: 20px;
}

.header-recom{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 10px;
    h2{
        font-family: Roboto;
        font-size: 25px;
        font-weight: 500;
        
    }
}