@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2? family= PT+Sans+Caption & family= Roboto+Slab:wght@700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&family=Montserrat:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Roboto&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  max-width: 100%;
};

@import './app.scss';
@import './sideBar';
@import './home';
@import './_navbar';
@import './nombreProductComponent';
@import './ordersComponent';
@import './revenueComponent';
@import './customerStat';
@import './venteStat';
@import './customerList';
@import './tableOrder';
@import './clients';
@import './offre';
@import './message';
@import './prestataires';
@import './notification';
@import './profile';
@import './singlePrestataire';
@import './singleClient';
@import './singleOffre';
@import './userCard';
@import './addproducts';
@import './imagesrelat';
@import './conversationcard';
@import './login';
@import './signup';
@import './cardnotification';
@import './btnshare';
@import './cardoffre';
@import './courriers';
@import './singleCourier';
@import './archivecourier';
@import './recomandation';
@import './cardRecomandation';
@import './reinitialisation';
@import './offreRetenu';
@import './opportinute';