.abouts{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;

    .baner-about{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../images/fd.jpg');
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 50vh;
        .titre{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50vh;
            background-color: rgba(14, 13, 13, 0.589);
            h1{
            font-family: Roboto;
            font-size: 1.7em;
            color: #dfdfdf;
            font-weight: 600;
            }
        }
    }

    .article{
        cursor: pointer;
        margin: 50px;
        padding: 15px;
        background: #FFF;
        width: 50em;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px #e6e6e671;
        h1{
            font-family: 'Roboto';
            font-size: 1.3em;
            font-weight: 600;
            
            &:hover{
                color: #61afd6;
            }
        }
        p{
            font-family: 'Roboto';
            font-size: 1em;
            color: #486370;
            &:hover{
                color: #4299c5;
            }
        }
        ul li{
            font-size: 0.9em;
            font-family: Open sans;
            color: #333;
            &:hover{
                color: #41a6d8;
            }
        }
        span{
            font-weight: 600;
            color: #333;
        }
    }

    @media(max-width:900px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}