.blogs{   
    display: flex;
    border-top: 1px solid #f1f1f1;
    background: #f6f6f6;
    height: calc(100vh - 50px);
    
}

.side{
    height: 101%;
    overflow-y: scroll !important;
    scrollbar-width:thin; /* "auto" pour utiliser la barre de défilement native */
    scrollbar-color: #5d8597 #f1f1f1;
}

.main-container{
    align-items: center;
    justify-content: center;
    flex: 4;
    background: #f0f2f5;
    border-radius: 10px;
    scrollbar-width:thin; /* "auto" pour utiliser la barre de défilement native */
    scrollbar-color: #5d8597 #f1f1f1;
    overflow-y: scroll !important;
    height: 100%;
}


.main-container h1{
    font-family: 'Roboto';
    margin: 100px 0px 0px 150px;
    font-size: 20px;
    font-weight: 300;
    color:#65676b;

}

.section-ens{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    width: 590px;
    margin-left: 90px;
}

@media(max-width:900px){
    .blogs {
        
        flex-direction: column; 
        align-items: center;
        height: auto; 
      }

      .main-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

      .section-ens{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%; 
        margin-left: 0; 
      }

      .main-container h1 {
        margin: 20px 0; 
        text-align: center; 
      }
    
      .side{
        overflow-x:scroll ;
      }
     
}
      