.comment{
    margin-top: 0.625em;
    padding-top: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 100%;
}

.comment h1{
    font-family: 'Roboto';
    margin:0.625em;
    font-size: 1.7em;
    font-weight: 300;
    color:#3e3f6b; //#656760;
    .free{
       color:#1b74e1;
       font-weight: 500;
    }
}

.container-objets{
    display: flex;
    justify-content: space-between;
}

.objets{
    margin: 1.25em;
    height: 24.375em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
        color:rgba(0, 0, 0, 0.514)
    }
}

.obj-img{
    width: 9.75em;
    height: 5.375em;
    margin:1.25em;
    transition: all 0.5s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}

.objets p{
    font-size: 1.125em;
    font-family: Roboto;
    margin: 1.25em;
    color: #000;
    font-weight: 600;
}

@media(max-width:900px){
    .comment h1{
       font-size: 1.20em;
       text-align: center;
    }
    .container-objets{
        flex-direction: column;
        justify-content: space-between;
    }
    .objets p{
        font-size: 1em;
    }
    
}