
.confidentialite{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;

    .date{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        font-family: 'Roboto';
        font-size: 1em;
    }

    
    .baner-confidentialite{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../images/ff.jpg');
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 50vh;
        .titre{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50vh;
            background-color: rgba(14, 13, 13, 0.658);
            h1{
            font-family: Roboto;
            font-size: 1.7em;
            color: #dfdfdf;
            font-weight: 600;
            }
        }
    }

    .contenu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        .left{
            transition: all 0.5s ease;
            &:hover{
                transform: scale(1.02)
            };
            padding: 15px;
            width: 50%;
            margin: 20px;
            //border-right: 1px solid #ceced4;
            background: #f0f2f5;
            border-radius: 5px;
            box-shadow: 1px 1px 1px 1px #e0e0e9;
            cursor: pointer;
            p{
                font-family: Roboto;
                font-size: 1em;
                color: #6f91a1;
            }
            .les-titre{
               font-family: 'Roboto';
               color: #555;
               font-size: 1em;
               margin: 5px;
            }
            .listes{
                li{
                    font-family: Roboto;
                    font-size: 0.9em;
                    color: #636363;
                }
            }
        }

        .rigth{
            width: 50%;
            height: 20%;
            margin: 20px;
            background: #f0f2f5;
            padding: 15px;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 1px 1px 1px 1px #e0e0e9;
            cursor: pointer;
            transition: all 0.5s;
            &:hover{
                transform: scale(1.02)
            };
            p{
                font-family: Roboto;
                font-size: 1em;
                color: #6f91a1;
            }
            .les-titre{
               font-family: 'Roboto';
               color: #555;
               font-size: 1em;
               margin: 5px;
            }
            .listes{
                li{
                    font-family: Roboto;
                    font-size: 0.9em;
                    color: #636363;
                }
            }
        }
    }

    .ft{
        width: 100%;
        display: flex;
        justify-content: center;
        background:#cbcdd181;
        .plus-questions{
            margin: 20px;
            font-family: Open sans;
            font-size: 1em;
            span{
                font-size: 1.2em;
                color: #524388;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    color: #4726be;
                }
            }
        }
    }

    @media(max-width:900px){
        .baner-confidentialite{
            height: 25vh;
            .titre{
                height: 25vh;
            }
        }
        .contenu{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

}