.footer{
    background: #161b2e;
    height: 50vh;
    
}

.container-footer{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container-footer h2{
    color: #f5f5f5;;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid #f5f5f5;
    padding: 10px;
}

.contacts,.service,.politique{
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-footer .contacts a{
    color:#f5f5f5;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    &:hover{
        color:#c7c7c7
    }
}