.headerSignup{
    height: 70px;
    background-color: #000;
    display: flex;
    align-items: center;

}

.headerSignup h2{
    color:#fff
}

.headerSignup p{
    color: #fff;
    margin: 10px;
}

