.insc-presta{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    background:#f0f2f5 ;
}

.container-ins{
margin: 20px;
}


.container-ins h1{
    font-family: 'Roboto';
}

.container-ins h3{
    color:#0a9bc7;
    font-family: 'Roboto';
}

.container-ins p{
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
}
.insc-presta h2{
    text-align: center;
    margin: 20px;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background: #fff;
}

.left-form{
    margin:20px
}

.rigth-form{
    margin:20px
}

.label-control{
    margin: 10px;
}
.form-control{
    width: 400px;
    height: 50px;
    border: 1px solid #aaa;
    outline: none;
    border-radius: 10px;
    margin:10px;
    display: flex;
    flex-direction: column;
}

.signup-btn-presta{
    margin:20px;
    width: 400px;
    height: 50px;
    border: none;
    background: #0ac71a;
    border-radius: 10px;
    color:#fff;
    font-size: 18px;
    font-family: sans-serif;
}