.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-3px ;
    width: 100%;
    .container{
        //width: 900px;
        width: 100%;
        background-color: #fff;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #cacaca;
        .p{
            margin: 10px;
            font-family: 'Roboto';
            cursor: pointer;
            color: #696969;
            &:hover{
                color: #0672ee;
            }
        }
        
    }

    .zone{
        display: flex;
        //width: 900px;
        width: 50%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 20px;
        font-family: 'Roboto';
        box-shadow: 1px 1px 1px 1px #cecece;
        cursor: pointer;
        border-radius: 10px;
        background-color: #fff;
    }
}
@media(max-width:900px){
    .nav{
        .container{
            p{
                font-size: 0.8em;
            }
        }
    }
}