.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-3px ;
    .container{
        width: 900px;
        background-color: #fff;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #cacaca;
        .p{
            margin: 20px;
            font-family: 'Roboto';
            cursor: pointer;
        }
        
    }

    .zone{
        display: flex;
        width: 900px;
        
        flex-wrap: wrap;
        align-items: center;
        margin: 20px;
        font-family: 'Roboto';
        box-shadow: 1px 1px 1px 1px #cecece;
        cursor: pointer;
        border-radius: 10px;
        background-color: #fff;
    }
}