.postes-conta{
  display: flex;
  background-color: #f6f6f6;
.postes{
    flex:1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f0f2f5;
    span{
        font-family: Roboto;
        cursor: pointer;
     }
    
}

.container-postes{
    flex:3;
    margin: 10px;
    display: flex;
    background: #fff;
    align-items: center;
    width: 700px;
    height: 100px;
    background: #fff;
     border-radius: 20px;
     border:1px solid #e9e9e9;
     box-shadow: 1px 1px 1px 1px #d3d3d3;
     border-radius: 10px;
     p{
         font-family: Roboto;
         font-size: 18px;
         color: #929292;
     }
   
}

.img-poste{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 20px;
}

.video-image{
    margin-top: -10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 50px;
    box-shadow: 1px 1px 1px 1px #e0e4e9;
    width: 700px;
    .icon-image{
        font-size: 30px;
        margin: 10px;
        color: rgb(50, 192, 50);
        cursor: pointer;
    }
    .icon-video{
        font-size: 30px;
        margin: 10px;
        color: rgb(241, 69, 69);
        cursor: pointer;
    }
}
.form-post-videos{
   display: flex;
   flex-direction: column;
   box-shadow: 1px 1px 1px 1px #e0e4e9;
   background: #fff;
   margin-top: 2px;
   margin-left: 10px;
   width: 700px;
   .champ-text-video{
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 100px;
    border: 1px solid #d9e3e9;
    font-family: 'Roboto';
   }
   .video-input{
    display: none;
    margin: 10px;
   }

   
     .icon-v{
        margin: 10px;
        font-size: 30px;
     }
   
   .post-video{
    background: #1491c7;
    color: #fff;
    font-family: Roboto;
    width: 125px;
    height: 40px;
    border: none;
    margin: 10px;
   }

   .champ-image-text{
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 100px;
    border: 1px solid #d9e3e9;
    font-family: 'Roboto';
   }
   .champ-images{
    margin: 10px;
    display: none;
   }
   
    .icon-i{
        margin: 10px;
    }
   
   
   .post-images{
    background: #1491c7;
    color: #fff;
    font-family: Roboto;
    width: 125px;
    height: 40px;
    border: none;
    margin: 10px;
   }
}

@media (max-width: 900px) {
    .postes{
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container-postes {
      width: 100%; /* Occupe toute la largeur sur les écrans étroits */
       p{
        font-size: 13px;
       }
       
    }
  
    .video-image {
      max-width: 100%; /* Occupe toute la largeur sur les écrans étroits */
    }
  
    .form-post-videos {
      max-width: 100%; /* Occupe toute la largeur sur les écrans étroits */
      display: flex;
      flex-direction: column;
      .champ-text-video{
        width: 19rem;
      }
      .champ-image-text{
        width: 19rem;
      }
    }
    .side{
      display: none;
    }
    
  }
}