.quelques{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: #f1f1f1;
}

.container-quelques{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.h-h1{
    font-family: 'Roboto';
    
}

.h-h2{
    margin-top: 20px;
    color:rgb(15, 202, 248);
    margin-left:-850px
}

.btn-qlq{
    width: 200px;
    height: 40px;
    border: 3px solid rgb(15, 202, 248);
    color:rgb(15, 202, 248);
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    font-family: 'Roboto';
    margin: 20px;
    &:hover{
        background: rgba(15, 201, 248, 2);
        color:#fff
    }
}

.avt-footer{
    display: flex;
    align-items: center;
}
.quelques h1{
        font-family: 'Roboto';
        margin: 50px;
    
    }