.sidebar{
    flex:1;
    background: #fff;
    border:1px solid #e7e7e7;
    margin: 20px;
    height: 950px;
    border-radius: 10px;
}

.header-side{
    margin: 20px;
    display: flex;
    align-items: center;
}

.sidebar .mainsoeuvres h3{
    font-size: 20px;
    font-weight: 550;
    color: #8a8a8a8c;
    font-family: 'Roboto';
   margin: 10px;
}



.mainsoeuvres{
    display: flex;
    flex-direction: column;
    
}

.secteur{
    display:flex;
    align-items:center;
    // background:#b6afaf49;
    // background: rgb(15, 202, 248);
     height: 45px;
    
}

.liens {
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    color: black;
    transition: all  ease-in-out;
    &:hover{
        //  background: rgb(15,202,248);
        border-radius: 5px;
        color: rgb(13, 179, 221);
        background: #f5f5f5;
        // border: 2px solid rgba(15, 202, 248);
    }
}