.asidebar{
    flex:1;
    width: 260px;
    width: 260px;
    background: #f0f2f5;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;

   
        .container-footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .reso{
                P{
                    &:hover{
                        color: rgb(17, 141, 141);
                       
                    }
                    color: rgb(109, 109, 109);
                }
                .icon{
                    &:hover{
                        color: rgb(17, 141, 141);
                    }
                    
                    color: rgb(109, 109, 109);
                }
            }

            .contacts{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .contact{
                    &:hover{
                       color: rgb(17, 141, 141);
                    }
                    
                    color: rgb(109, 109, 109);
                }
            }

            .copy{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .contact{
                    &:hover{
                        color: rgb(17, 141, 141);
                       
                    }
                    display: flex;
                    justify-content: center;
                    color: rgb(109, 109, 109);
                }
            }
        }
    

    @media(max-width:900px){
        .asidebar{
            display: none;

        }
        .container-footer{
            display: none;
        }
    }
}