.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f6f6f6;
    height: 75vh;

    .h1 {
        margin: 1em;
        font-family: 'Roboto';
        font-size: 1.7em;
        color: #3e3f6b;
        cursor: pointer;

        &:hover {
            color: #4749ad;
        }
    }

    .container-slider {
        display: flex;
        align-items: center;

        .swiper {
            width: 90%;
            border-radius: 10px;
            height: 63vh;
        }

        .swiper-slider {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }



@media(max-width:900px){
    
    .slider {
        .container-slider {
            flex-direction: column; /* Changez la direction pour l'affichage mobile */
            
            .swiper {
                width: 100%;
            }

            .swiper-slider {
                margin: 1em 0; /* Ajoutez de l'espace entre les slides */
            }
        }
    }
}
}



