.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f6f6f6;
    height: 80vh;
    .h1{
        margin: 2em;
        font-family: 'Roboto';
        font-size: 1.8em;
        color:#3e3f6b ;
        cursor: pointer;
        &:hover{
            color: #4749ad;
        }
    }
    .container-slider{
        background-color: adjust-color(#f0f2f5);
        display: flex;
        align-items: center;
        .swiper{
            width: 90%;
            border-radius: 10px;
        }
        .swiper-slider{
        //    width: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

@media(max-width:900px){
    
    .swiper{
        width: 100%;
    }
}