@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2? family= PT+Sans+Caption & family= Roboto+Slab:wght@700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&family=Montserrat:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Roboto&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  max-width: 100%;
  text-decoration: none;
  scrollbar-width:thin; /* "auto" pour utiliser la barre de défilement native */
  scrollbar-color: #92b1c0 #f1f1f1;

 
}

@import './home-page';
@import './header';
@import './navbar';
@import './banner';
@import './card';
@import './footer';
@import './inscriptionPresta';
@import './headerSignup';
@import './inscriptionClient';
@import './blogs';
@import './sidebar';
@import './Empcard.scss';
@import './comment';
@import './quelques';
@import './profile';
@import './search';
@import './connection';
@import './parametres';
@import './maps';
@import './offres';
@import './singleoffre';
@import './cardoffre';
@import './messagerie';
@import './conversation';
@import './discussions';
@import'./chat';
@import './contacter';
@import './notificard';
@import './notification';
@import './reinitialisation';
@import './navSearch';
@import './contatcts';
@import './courrier';
@import './courierCard';
@import './singleCourier';
@import './recomandation';
@import './avicommentaire';
@import './commentaireOffre';
@import './cardvideopost';
@import './cardimagepost';
@import './postcommentaire';
@import './postes';
@import './nav';
@import './images';
@import './videos';
@import './singlepost';
@import './slider';
@import './apropos';
@import './confidentialite';
@import './spiner';
@import './sidebarleft'